html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.navbar{
    margin-bottom: 0;
}

#wrapper {
    display: flex;
    height: 100%;
}

/**********************
    main
**********************/
#main{
    width: 100%;
}

/**********************
    sidebar
**********************/
#sidebar {
    background-color: #2b5aa5;
    font-size: 16px;
    height: 1000px;
}

#sidebar ul{
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 50px;
}

#sidebar ul li{
    width: 200px;
    padding: 10px;
    text-align: center;
    list-style: none;
}

#sidebar ul li a{
    color: #fff;
}

/**********************
    form
**********************/
.form-group div{
    margin:0 auto 20px 100px;    
}

form button {
    margin-left: 200px;
}
label {
    width: 200px;
}